<div class="navbar">
  <div class="navbar__logo" routerLink="/">
    Pizzaiols
    <svg width="20" height="20" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="50" cy="50" r="47" fill="white" stroke="black" stroke-width="6"/>
      <line x1="25" y1="51" x2="75" y2="51" stroke="black" stroke-width="6"/>
      <line y1="-3" x2="50" y2="-3" transform="matrix(0.707106 -0.707107 0.707106 0.707107 35 70.3554)" stroke="black"
            stroke-width="6"/>
      <line x1="67.234" y1="68.4767" x2="31.8787" y2="33.1213" stroke="black" stroke-width="6"/>
      <line x1="50" y1="75" x2="50" y2="25" stroke="black" stroke-width="6"/>
    </svg>
  </div>
  <div class="navbar__menu">
    <div class="navbar__menu__item basket" routerLink="basket" routerLinkActive="active">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path
          d="M12 2C8.43 2 5.23 3.54 3.01 6L12 22l8.99-16C18.78 3.55 15.57 2 12 2zM7 7c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm5 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
      </svg>
      <div class="basket__count">
        {{ pizzasCount$ | async }}
      </div>
    </div>
  </div>
</div>
