:host {
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #0270E4;
  color: #ffffff;
  height: 32px;
  border-radius: 4px;
  transition: 200ms ease-out;

  &:hover {
    background-color: rgba(#0270E4, 0.2);
    color: black;
  }

  &.success {
    background-color: #32D184;

    &:hover {
      background-color: rgba(#32D184, 0.2);
      color: black;
    }
  }
}
