<div class="navbar">
  <div class="navbar__logo">
    Pizzaiols
    <svg width="20" height="20" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="50" cy="50" r="47" fill="white" stroke="black" stroke-width="6"/>
      <line x1="25" y1="51" x2="75" y2="51" stroke="black" stroke-width="6"/>
      <line y1="-3" x2="50" y2="-3" transform="matrix(0.707106 -0.707107 0.707106 0.707107 35 70.3554)" stroke="black" stroke-width="6"/>
      <line x1="67.234" y1="68.4767" x2="31.8787" y2="33.1213" stroke="black" stroke-width="6"/>
      <line x1="50" y1="75" x2="50" y2="25" stroke="black" stroke-width="6"/>
    </svg>
  </div>
  <div class="navbar__menu">
    <div class="navbar__menu__item" routerLink="/pizzas" routerLinkActive="active">Pizzas</div>
    <div class="navbar__menu__item" routerLink="/basket" routerLinkActive="active">Basket</div>
    <div class="navbar__menu__item" routerLink="/auth" routerLinkActive="active">Auth</div>
  </div>
</div>
