.navbar {
  display: flex;

  &__logo {
    margin-right: 60px;
    cursor: pointer;
  }

  &__menu {
    display: flex;

    &__item {
      cursor: pointer;
      font-weight: 900;
      margin-right: 30px;

      &:hover {
        color: red;
      }
    }
  }
}
