.search-bar {
  cursor: pointer;
  width: 90%;
  max-width: 600px;
  padding: 0 12px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;

  &__input {
    height: 40px;
    display: flex;
    align-items: center;
  }

  &__results {
    ul {
      margin: 10px 0;
      list-style: none;

      li {
        transition: 200ms;
        margin: 4px 0;

        &:hover {
          color: #0270E4;
        }
      }
    }
  }

  form {
    width: 100%;
    height: 100%;
  }

  input {
    background: none;
    margin-left: 10px;
    width: 100%;
    height: 100%;
  }
}
