.container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 20px auto;
  flex-direction: column;
}

.pizzas {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: 20px 0;
  color: #1A1A1A;
}

.preview {
  margin: 20px auto;
  max-width: 1280px;
  width: 100%;
  height: 300px;
  background-color: aliceblue;
}

.total {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 24px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 30px;

  &__title {
    margin-right: 30px;
  }

  &__value {
    color: #32D184;
  }
}

.pizza-card {
  margin-right: 30px;
}
