.search-container {
  background-color: rgba(#32D184, 0.5);
  display: flex;
  align-items: center;
  height: 240px;
}

.search {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 680px;
  width: 100%;
}
