.search {
  display: flex;
  max-width: 870px;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  justify-content: space-between;

  input {
    height: 40px;
    border: none;
    width: 100%;
    padding: 0 16px;
  }

  .search-btn {
    cursor: pointer;
    height: 40px;
    width: 120px;
    background-color: #38A39C;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
