<div class="container">
  <h1>Cart</h1>
  <app-pizza-preview [pizza]="activePizza"></app-pizza-preview>
  <div class="pizzas">
    <ng-container *ngFor="let pizza of pizzas">
      <app-pizza-card
        [isShowButton]="false"
        (mouseenter)="onPizzaHover(pizza)"
        [pizza]="pizza"
        class="pizza-card">
      </app-pizza-card>
    </ng-container>
  </div>
  <div class="total">
    <div class="total__title">
      Total
    </div>
    <div class="total__value">
      {{ total | currency: 'USD'}}
    </div>
  </div>
</div>

