.container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 20px auto;
  flex-direction: column;
}

ul {
  list-style: none;

  li {
    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;

    &:hover {
      color: #1ea7fd;
    }
  }
}

.content {
  margin: 24px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
}
