<ng-container *ngIf="(pizza$ | async) as pizza">
  <div class="pizza-card">
    <div class="pizza-card__preview">
      <app-pizza-small-preview class="pizza"></app-pizza-small-preview>
    </div>
    <div class="pizza-card__info">
      <div class="pizza-card__price">{{ pizza.price  | currency: "USD" }}</div>
      <div class="pizza-card__info__name">{{ pizza.name }}</div>
      <div class="pizza-card__info__description">{{ pizza.description }}</div>
      <div class="pizza-card__info__bottom">
        <uikit-ui-v1-button
          (click)="onBuy(pizza)"
          [type]="buttonType"
          class="pizza-card__info__buy-btn"
          title="Buy"></uikit-ui-v1-button>
      </div>
    </div>
  </div>
</ng-container>
