.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.pizza {
  margin: 0 auto;
  width: 128px;
  height: 128px;
  background-color: aliceblue;
  border-radius: 128px;
  margin-bottom: 40px;
}

.form {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
