input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  height: 12px;
  box-shadow: none;
  border: 1px solid #1A1A1A;
  border-radius: 4px;
}
