input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #fff;
  padding: 10px;
  height: 12px;
  border-radius: 4px;
}
