.restaurant-card {
  max-width: 720px;
  min-width: 240px;
  width: 100%;
  min-height: 240px;
  max-height: 340px;
  height: 100%;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 8px;
  transition: .2s ease-out;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &--default-cursor {
    cursor: default;
  }

  &__poster {
    height: 70%;
    background-color: #b8c1b8;
    background-image: url("src/assets/icons/pizza.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__description {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 24px;
    height: 30%;
    font-size: 12pt;

    &__bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}

.rating {
  font-weight: bold;
  font-size: 12pt;
  display: flex;
  align-items: center;
}

.title {
  margin-bottom: 4px;
}
