$topping-size: 10%;

.pizza {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: transform 0.2s;

  &--active {
    transform: translate3d(0, -30px, 0);
  }

  &__board {
    background: url("angular/src../../../assets/toppings/board.svg") no-repeat 0 20px;
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 16%;
  }

  &__base {
    background: url("angular/src../../../assets/toppings/base.svg") no-repeat;
    background-size: contain;
    width: 160px;
    height: 100px;
    position: absolute;
    left: 27%;
    top: 50px;
    z-index: 2;
  }

  &__toppings {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
  }

  &__topping {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;

    &--anchovy {
      background-image: url("angular/src../../../assets/toppings/anchovy.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 34%;
        top: 44%;
      }

      &:nth-child(2) {
        left: 50%;
        top: 30%;
      }

      &:nth-child(3) {
        left: 67%;
        top: 36%;
      }

      &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }

    &--bacon {
      background-image: url("angular/src../../../assets/toppings/bacon.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 50%;
        top: 50%;
      }

      &:nth-child(2) {
        left: 69%;
        top: 40%;
      }

      &:nth-child(3) {
        left: 42%;
        top: 32%;
      }

      &:nth-child(4) {
        left: 32%;
        top: 39%;
      }

      &:nth-child(5) {
        left: 56%;
        top: 32%;
      }
    }

    &--basil {
      background-image: url("angular/src../../../assets/toppings/basil.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 64%;
        top: 36%;
      }

      &:nth-child(2) {
        left: 57%;
        top: 48%;
      }

      &:nth-child(3) {
        left: 36%;
        top: 32%;
      }

      &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }

    &--chili {
      background-image: url("angular/src../../../assets/toppings/chili.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 48%;
        top: 48%;
      }

      &:nth-child(2) {
        left: 64%;
        top: 32%;
      }

      &:nth-child(3) {
        left: 52%;
        top: 39%;
      }

      &:nth-child(4) {
        left: 67%;
        top: 44%;
      }

      &:nth-child(5) {
        left: 31%;
        top: 33%;
      }
    }

    &--mozzarella {
      background-image: url("angular/src../../../assets/toppings/mozzarella.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 6px;
        top: 106px;
      }

      &:nth-child(2) {
        left: 186px;
        top: 114px;
      }

      &:nth-child(3) {
        left: 162px;
        top: 8px;
      }

      &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }

    &--mushroom {
      background-image: url("angular/src../../../assets/toppings/mushroom.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 18%;
        top: 8%;
      }

      &:nth-child(2) {
        left: 40px;
        top: 60px;
      }

      &:nth-child(3) {
        left: 90px;
        top: 18%;
      }

      &:nth-child(4) {
        left: 240px;
        top: 30px;
      }

      &:nth-child(5) {
        left: 28%;
        top: 129px;
      }
    }

    &--olive {
      background-image: url("angular/src../../../assets/toppings/olive.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 161px;
        top: 60px;
      }

      &:nth-child(2) {
        left: 90px;
        top: 57px;
      }

      &:nth-child(3) {
        left: 110px;
        top: 110px;
      }

      &:nth-child(4) {
        left: 279px;
        top: 47px;
      }

      &:nth-child(5) {
        display: none;
      }
    }

    &--onion {
      background-image: url("angular/src../../../assets/toppings/onion.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 101px;
        top: 55px;
      }

      &:nth-child(2) {
        left: 10px;
        top: 61px;
      }

      &:nth-child(3) {
        left: 261px;
        top: 55px;
      }

      &:nth-child(4) {
        left: 172px;
        top: 132px;
      }

      &:nth-child(5) {
        display: none;
      }
    }

    &--pepper {
      background-image: url("angular/src../../../assets/toppings/pepper.svg");
      width: 20px;
      height: 20px;

      &:nth-child(1) {
        left: 122px;
        top: 30px;
      }

      &:nth-child(2) {
        left: 175px;
        top: 87px;
      }

      &:nth-child(3) {
        left: 30px;
        top: 81px;
      }

      &:nth-child(4) {
        left: 282px;
        top: 69px;
      }

      &:nth-child(5) {
        left: 105px;
        top: 147px;
      }
    }

    &--pepperoni {
      background-image: url("angular/src../../../assets/toppings/pepperoni.svg");
      width: 20px;
      height: 20px;

      &:nth-child(1) {
        left: 222px;
        top: 35px;
      }

      &:nth-child(2) {
        left: 145px;
        top: 107px;
      }

      &:nth-child(3) {
        left: 81px;
        top: 21px;
      }

      &:nth-child(4) {
        left: 221px;
        top: 80px;
      }

      &:nth-child(5) {
        left: 75px;
        top: 137px;
      }
    }

    &--sweetcorn {
      background-image: url("angular/src../../../assets/toppings/sweetcorn.svg");
      width: 20px;
      height: 20px;

      &:nth-child(1) {
        left: 192px;
        top: 35px;
      }

      &:nth-child(2) {
        left: 41px;
        top: 41px;
      }

      &:nth-child(3) {
        left: 212px;
        top: 146px;
      }

      &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }

    &--tomato {
      background-image: url("angular/src../../../assets/toppings/tomato.svg");
      width: 20px;
      height: 20px;

      &:nth-child(1) {
        left: 175px;
        top: 147px;
      }

      &:nth-child(2) {
        left: 41px;
        top: 41px;
      }

      &:nth-child(3) {
        left: 85px;
        top: 100px;
      }

      &:nth-child(4) {
        left: 280px;
        top: 99px;
      }

      &:nth-child(5) {
        display: none;
      }
    }
  }
}
