$topping-size: 10%;

.pizza {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: transform 0.2s;

  &--active {
    transform: translate3d(0, -30px, 0);
  }

  &__board {
    background: url("../../../../assets/toppings/board.svg") no-repeat 0 20px;
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 16%;
  }

  &__base {
    background: url("../../../../assets/toppings/base.svg") no-repeat;
    background-size: contain;
    width: 160px;
    height: 100px;
    position: absolute;
    left: 27%;
    top: 50px;
    z-index: 2;
  }

  &__toppings {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
  }

  &__topping {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;

    &--anchovy {
      background-image: url("../../../../assets/toppings/anchovy.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 34%;
        top: 44%;
      }

      &:nth-child(2) {
        left: 50%;
        top: 30%;
      }

      &:nth-child(3) {
        left: 67%;
        top: 36%;
      }

      &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }

    &--bacon {
      background-image: url("../../../../assets/toppings/bacon.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 170px;
        top: 80px;
      }

      &:nth-child(2) {
        left: 100px;
        top: 75px;
      }

      &:nth-child(3) {
        left: 134px;
        top: 123px;
      }

      &:nth-child(4) {
        left: 170px;
        top: 90px;
      }

      &:nth-child(5) {
        left: 170px;
        top: 80px;
      }
    }

    &--basil {
      background-image: url("../../../../assets/toppings/basil.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 64%;
        top: 36%;
      }

      &:nth-child(2) {
        left: 57%;
        top: 48%;
      }

      &:nth-child(3) {
        left: 36%;
        top: 32%;
      }

      &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }

    &--chili {
      background-image: url("../../../../assets/toppings/chili.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 48%;
        top: 48%;
      }

      &:nth-child(2) {
        left: 64%;
        top: 32%;
      }

      &:nth-child(3) {
        left: 52%;
        top: 39%;
      }

      &:nth-child(4) {
        left: 67%;
        top: 44%;
      }

      &:nth-child(5) {
        left: 34%;
        top: 33%;
      }
    }

    &--mozzarella {
      background-image: url("../../../../assets/toppings/mozzarella.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 150px;
        top: 116px;
      }

      &:nth-child(2) {
        left: 186px;
        top: 78px;
      }

      &:nth-child(3) {
        left: 130px;
        top: 80px;
      }

      &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }

    &--mushroom {
      background-image: url("../../../../assets/toppings/mushroom.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 180px;
        top: 78px;
      }

      &:nth-child(2) {
        left: 110px;
        top: 90px;
      }

      &:nth-child(3) {
        left: 130px;
        top: 120px;
      }

      &:nth-child(4) {
        left: 150px;
        top: 70px;
      }

      &:nth-child(5) {
        left: 130px;
        top: 70px;
      }
    }

    &--olive {
      background-image: url("../../../../assets/toppings/olive.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 48%;
        top: 56%;
      }

      &:nth-child(2) {
        left: 58%;
        top: 36%;
      }

      &:nth-child(3) {
        left: 52%;
        top: 42%;
      }

      &:nth-child(4) {
        left: 67%;
        top: 37%;
      }

      &:nth-child(5) {
        left: 34%;
        top: 46%;
      }
    }

    &--onion {
      background-image: url("../../../../assets/toppings/onion.svg");
      width: $topping-size;
      height: $topping-size;

      &:nth-child(1) {
        left: 40%;
        top: 48%;
      }

      &:nth-child(2) {
        left: 52%;
        top: 32%;
      }

      &:nth-child(3) {
        left: 37%;
        top: 39%;
      }

      &:nth-child(4) {
        left: 63%;
        top: 44%;
      }

      &:nth-child(5) {
        left: 34%;
        top: 33%;
      }
    }

    &--pepper {
      background-image: url("../../../../assets/toppings/pepper.svg");
      width: 20px;
      height: 20px;

      &:nth-child(1) {
        left: 48%;
        top: 48%;
      }

      &:nth-child(2) {
        left: 64%;
        top: 32%;
      }

      &:nth-child(3) {
        left: 52%;
        top: 39%;
      }

      &:nth-child(4) {
        left: 67%;
        top: 44%;
      }

      &:nth-child(5) {
        left: 34%;
        top: 33%;
      }
    }

    &--pepperoni {
      background-image: url("../../../../assets/toppings/pepperoni.svg");
      width: 20px;
      height: 20px;

      &:nth-child(1) {
        left: 180px;
        top: 72px;
      }

      &:nth-child(2) {
        left: 110px;
        top: 80px;
      }

      &:nth-child(3) {
        left: 130px;
        top: 110px;
      }

      &:nth-child(4) {
        left: 160px;
        top: 120px;
      }

      &:nth-child(5) {
        left: 140px;
        top: 120px;
      }
    }

    &--sweetcorn {
      background-image: url("../../../../assets/toppings/sweetcorn.svg");
      width: 20px;
      height: 20px;

      &:nth-child(1) {
        left: 48%;
        top: 48%;
      }

      &:nth-child(2) {
        left: 64%;
        top: 32%;
      }

      &:nth-child(3) {
        left: 52%;
        top: 39%;
      }

      &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }

    &--tomato {
      background-image: url("../../../../assets/toppings/tomato.svg");
      width: 20px;
      height: 20px;

      &:nth-child(1) {
        left: 180px;
        top: 78px;
      }

      &:nth-child(2) {
        left: 110px;
        top: 80px;
      }

      &:nth-child(3) {
        left: 130px;
        top: 100px;
      }

      &:nth-child(4) {
        left: 150px;
        top: 60px;
      }

      &:nth-child(5) {
        display: none;
      }
    }
  }
}
