@keyframes scale-pulse {
  0% {
    transform: scale(1);
    fill: rgb(226, 243, 74);
  }

  100% {
    transform: scale(1.12);
  }
}

@keyframes color-pulse {
  0% {
    fill: rgb(247, 44, 44);
  }

  100% {
    fill: rgb(243, 74, 85);
  }
}

:host {
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  z-index: 9999999999;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.error-message {
  min-width: 240px;
  max-width: 400px;
  box-shadow: 0 2px 8px rgba(0, 42, 76, 0.3);
  background-color: #111314;
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;

    &__title {
      font-weight: 900;
      display: flex;
      align-items: center;

      svg {
        margin-right: 12px;
        animation: scale-pulse .8s infinite cubic-bezier(0.755, 0.05, 0.855, 0.06) alternate;
      }

      .icon {
        fill: rgb(243, 74, 85);
        animation: color-pulse .8s infinite cubic-bezier(0.755, 0.05, 0.855, 0.06) alternate;
        background-color: ivory;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;

      div {
        cursor: pointer;
        transition: fill 0.3s;
        fill: rgba(255, 255, 255, 0.7);

        &:hover {
          fill: rgb(255, 255, 255);
        }

        &:last-child {
          margin-left: 5px;
        }
      }
    }
  }

  &__content {
    font-size: 14px;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow: hidden;

    &.expanded {
      height: fit-content;
      max-height: 300px;
      overflow-y: auto;
    }
  }
}

.error-response-objects {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
}

.error-response-object {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:last-child {
    border-bottom: none;
  }

  &__index {
    border-radius: 24px;
    width: 18px;
    height: 18px;
    background-color: #f9cd0b;
    color: #000000;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
  }

  &__detail {
    margin-left: 16px;


    span {
      font-weight: 900;
    }
  }
}

.error-message__header__close-button {
  position: relative;
}

.error-message__header__expand-button {
  position: relative;
  width: 24px;
  height: 24px;

  svg {
    transform: rotate(180deg);
    transition: all 0.3s ease-out;
    position: absolute;
    top: 0;
  }

  &.expanded {
    svg {
      transform: rotate(360deg);
    }
  }
}

.error-field {
  margin-bottom: 10px;
  margin-left: 36px;
}

.hidden {
  visibility: hidden;
}
