<div *ngIf="!hidden" [@messageAnimationTrigger] class="error-message">
  <div class="error-message__header">
    <div class="error-message__header__title">
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path class="icon"
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
      </svg>
      {{(errorSubject$ | async)?.error}}
    </div>
    <div class="error-message__header__buttons">
      <div (click)="onExpandClick()" [ngClass]="{'expanded': expanded}" class="error-message__header__expand-button">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </div>
      <div (click)="onCloseClick()" class="error-message__header__close-button">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </div>
    </div>
  </div>
  <div [ngClass]="{'expanded': expanded}" class="error-message__content">
    <div *ngIf="(errorSubject$ | async)?.error" class="error-field">
      {{ (errorSubject$ | async)?.error }}
    </div>
    <div class="error-response-objects">
      <div class="error-response-object">
        <div class="error-response-object--left">
          <div class="error-response-object__index">{{ 1 }}</div>
        </div>
        <div class="error-response-object--right">
          <div class="error-response-object__detail"><span>{{(errorSubject$ | async)?.error}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
