<div class="pizza-card">
  <div class="pizza-card__preview">
    <div class="pizza">
      <div class="pizza__board"></div>
      <div class="pizza__base"></div>
      <div class="pizza__toppings">
        <div
          *ngFor="let topping of toppings; let i = index;"
          [style.zIndex]="i"
        >
          <div class="pizza__topping pizza__topping--{{topping}}"></div>
          <div class="pizza__topping pizza__topping--{{topping}}"></div>
          <div class="pizza__topping pizza__topping--{{topping}}"></div>
          <div class="pizza__topping pizza__topping--{{topping}}"></div>
          <div class="pizza__topping pizza__topping--{{topping}}"></div>
        </div>
      </div>
    </div>
    <div class="pizza-card__preview__price">{{ 100 | currency: "USD" }}</div>
  </div>
  <div class="pizza-card__info">
    <div class="pizza-card__info__name">NAME</div>
    <div class="pizza-card__info__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
      architecto, dicta ducimus, exercitationem id modi nam officia officiis placeat quas quo ullam voluptate!
      Aspernatur cupiditate maxime neque ratione tempora veniam.
    </div>
    <div class="pizza-card__info__bottom">
      <app-ui-v1-button class="pizza-card__info__buy-btn" title="Buy" [type]="buttonType"></app-ui-v1-button>
    </div>
  </div>
</div>
