:host {

}

.pizza-card {
  max-width: 240px;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition: 300ms ease-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    .pizza {
      transform: scale(1.1);
    }

    .pizza-card__preview__price {
      color: #32D184;
      transform: scale(1.1);
    }
  }

  &__preview {
    height: 240px;
    position: relative;

    &__price {
      font-weight: 900;
      color: #000000;
      position: absolute;
      bottom: 0;
      text-align: center;
      left: 10px;
      transition: 200ms ease-out;
    }
  }

  &__info {
    height: 260px;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;

    &__name {
      font-weight: 900;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 12px;
      max-height: 40px;
      overflow: hidden;
    }

    &__bottom {
      display: flex;
    }

    &__buy-btn {
      margin-top: 20px;
      width: 100%;
    }
  }
}

.pizza {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: transform 0.2s;

  &--active {
    transform: translate3d(0, -30px, 0);
  }

  &__board {
    background: url("src/assets/toppings/board.svg") no-repeat 0 20px;
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 20px;
  }

  &__base {
    background: url("src/assets/toppings/base.svg") no-repeat;
    background-size: contain;
    width: 160px;
    height: 100px;
    position: absolute;
    left: 52px;
    top: 50px;
    z-index: 2;
  }

  &__toppings {
    width: 352px;
    height: 190px;
    position: absolute;
    right: 42px;
    top: 46px;
    z-index: 3;
  }
}
