<div [formGroup]="form" class="container">
  <app-breadcrumbs class="breadcrumbs" path="restaurants"></app-breadcrumbs>
  <div class="restaurant-container">
    <h1>{{(restaurant | async)?.name}}</h1>
  </div>
  <div class="filter">
    <app-pizza-toppings formControlName="toppings"></app-pizza-toppings>
  </div>
  <div *ngIf="(pizzas$ | async); else preloader"
       [@listAnimation]="(pizzas$ | async)?.length"
       class="pizzas">
    <ng-container *ngFor="let pizza of (pizzas$ | async)">
      <app-pizza-card [pizza]="pizza" class="pizza-card"></app-pizza-card>
    </ng-container>
  </div>
  <ng-template #preloader>
    <div class="pizzas">
      <div class="pizza animate-background"></div>
      <div class="pizza animate-background"></div>
      <div class="pizza animate-background"></div>
    </div>
  </ng-template>
</div>
