@charset "UTF-8";

@font-face {
  font-family: Roboto;
  src: url("angular/srcfonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("angular/srcfonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("angular/srcfonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("angular/srcfonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("angular/srcfonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("angular/srcfonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
