ul {
  list-style: none;
  display: flex;
  font-size: 14pt;
  font-weight: bold;

  li {
    cursor: pointer;
    transition: 200ms linear;

    a {
      margin-right: 24px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 12px;
      }

      svg path, span {
        transition: 200ms;
      }

      &:hover {
        color: var(--primary-color);

        svg path {
          &:nth-child(2) {
            fill: var(--primary-color);
          }
        }
      }
    }
  }
}
