.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: #515151;

  &:hover {
    color: #f74843;
  }
}
