.pizza-card {
  width: 300px;
  height: min-content;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  border-radius: 16px;
  transition: 200ms;

  &:hover {
    transform: scale(1.05);
  }

  &__price {
    font-weight: 900;
    color: #000000;
    transition: 200ms;
    margin-bottom: 20px;
  }

  &__preview {
    height: 200px;
    position: relative;
  }

  &__info {
    height: 100%;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;

    &__name {
      font-weight: 900;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 14px;
      max-height: 46px;
      overflow: hidden;
    }

    &__bottom {
      display: flex;
    }

    &__buy-btn {
      margin-top: 20px;
      width: 100%;
    }
  }
}
