<div class="container" [formGroup]="form">
  <restaurants-breadcrumbs class="breadcrumbs" path="restaurants"></restaurants-breadcrumbs>
  <restaurants-restaurant-card
    [style]="{'height': '340px'}"
    [model]="restaurant | async"
    [cursor]="cursorTypes.Default"
  ></restaurants-restaurant-card>
  <h1>Pizzas</h1>
  <div class="filter">
    <app-pizza-toppings formControlName="toppings"></app-pizza-toppings>
  </div>
  <div class="pizzas"
       *ngIf="!(loading$ | async); else preloader"
       [@listAnimation]="(pizzas$ | async)?.length">
    <ng-container *ngFor="let pizza of (pizzas$ | async)">
      <restaurants-pizza-card [pizza]="pizza" class="pizza-card"></restaurants-pizza-card>
    </ng-container>
  </div>
  <ng-template #preloader>
    <div class="pizzas" *ngIf="(loading$ | async)">
      <div class="pizza animate-background"></div>
      <div class="pizza animate-background"></div>
      <div class="pizza animate-background"></div>
    </div>
  </ng-template>
</div>
