.container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 20px auto;
  flex-direction: column;
}

.breadcrumbs {
  margin-bottom: 24px;
}

.pizzas {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: 20px 0;
  color: #1A1A1A;
}

.filter {
  display: flex;
  margin-bottom: 40px;

  span {
    background-color: #e5f1fd;
    color: rgba(#000, 0.5);
    font-weight: 900;
    height: 36px;
    width: fit-content;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    padding: 0 20px;
    cursor: pointer;
    transition: 200ms ease-out;

    &:hover {
      background-color: rgba(aliceblue, 0.8);
      color: black;
    }
  }
}

.pizza-card {
  margin-right: 30px;
  margin-bottom: 20px;
}

.pizza {
  background-color: red;
  width: 300px;
  height: 400px;
  margin-right: 30px;
  margin-bottom: 20px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.animate-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f7;;
}
